<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="header">
    <h2 align="center">Task Reminder Application</h2>

</div>
<br><br>

<div class="task-details-wrapper">

    <h2>Task Details</h2>

    <div class="task-details-row">
        <strong>Title :</strong>
        <span th:text="${task.title}"></span>
    </div>

    <div class="task-details-row">
        <strong>Description :</strong>
        <span th:text="${task.description}"></span>
    </div>

    <div class="task-details-row">
        <strong>Due Date :</strong>
        <span th:text="${task.dueDate}"></span>
    </div>

    <div class="task-details-row">
        <strong>Status :</strong>
        <span th:text="${task.status}"></span>
    </div>

    <div class="task-details-row">
        <strong>Priority :</strong>
        <span th:text="${task.priority}"></span>
    </div>

    <div class="task-details-row">
        <strong>Created At :</strong>
        <span th:text="${task.createdAt}"></span>
    </div>

    <div class="task-details-actions">
        <a th:href="@{/api/tasks/tasks}" class="btn btn-secondary">Back to List</a>
        <a th:href="@{/api/tasks/edit/{id}(id=${task.id})}" class="btn btn-primary">Edit</a>
    </div>

</div>

</body>
</html>
